/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

#footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
}

/* Header styles */
.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sidebar styles */
#sidebar-wrapper {
    position: fixed;
    top: 56px; /* Adjust based on header height */
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 15rem;
    background-color: #f8f9fa;
    padding-top: 1rem;
    overflow-y: auto;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: #343a40;
    font-weight: bold;
}

#sidebar-wrapper .list-group {
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: block;
    padding: 0.75rem 1.25rem;
    color: #343a40;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
}

.sidebar-item:hover {
    background-color: #007bff;
    color: white;
}

.sidebar-item.active {
    background-color: #007bff;
    color: white;
}

/* Page content styles */
#page-content-wrapper {
    margin-left: 15rem; /* Match the width of the sidebar */
    padding: 20px;
    margin-top: 56px; /* Adjust based on header height */
    overflow: auto;
}

/* Footer styles */
.custom-footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 1rem;
    text-align: center;
}

/* Main content styles */
main.container {
    padding: 2rem;
}

main.container .form-inline {
    justify-content: center;
}

#users-list .card {
    margin-bottom: 20px;
}

/* Card custom styles */
.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 0.5rem;
}

.user-card .card {
    transition: transform 0.2s;
}

.user-card .card:hover {
    transform: scale(1.02);
}

/* Search input styles */
#search {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
}

/* Media Query for Responsive Design */
@media (max-width: 767.98px) {
    #sidebar-wrapper {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    #page-content-wrapper {
        margin-left: 0;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#step2 {
    display: none;
}