<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        {% include 'components/header.html' %}
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="sidebar-wrapper">
                <!-- Sidebar -->
                {% include 'components/sidebar.html' %}
            </div>
            <div class="col-md-10" id="page-content-wrapper">
                <!-- Main content -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer">
        {% include 'components/footer.html' %}
    </div>

    <!-- JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
