<div class="sidebar bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Menu</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
        
        <div class="dropdown">
            <a class="list-group-item list-group-item-action dropdown-toggle" href="#" role="button" id="dropdownProjects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
            </a>
            <div class="dropdown-menu sidebar bg-light border-right" id="sidebar-wrapper" aria-labelledby="dropdownProjects">
                <a class="dropdown-item" href="#">Nebula Initiative</a>
                <a class="dropdown-item" href="#">Quantum Leap</a>
                <a class="dropdown-item" href="#">Cyber Phoenix</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="list-group-item list-group-item-action dropdown-toggle" href="#" role="button" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownReports">
                <a class="dropdown-item" href="#">Solar Flare Analysis</a>
                <a class="dropdown-item" href="#">Galactic Trends</a>
                <a class="dropdown-item" href="#">Asteroid Belt Survey</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="list-group-item list-group-item-action dropdown-toggle" href="#" role="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownTools">
                <a class="dropdown-item" href="#">Starmap Generator</a>
                <a class="dropdown-item" href="#">Wormhole Calculator</a>
                <a class="dropdown-item" href="#">Gravity Simulator</a>
            </div>
        </div>

        <a href="#" class="list-group-item list-group-item-action">Settings</a>
    </div>
</div>